# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Coverage
.coverage
.coverage.*
.cache

# Django stuff:
*.log
db.sqlite3

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

.idea

envs/*
!envs/*-default

