{% extends "account/account_base.html" %}
{% load crispy_forms_tags %}
{% load account %}

{% block account_title %}Password Reset{% endblock account_title %}

{% block account_content %}
    <h1>Password Reset</h1>
    {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <h3>Forgotten your password? </h3>
    <p>Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form | crispy }}
        <input type="submit" class="btn btn-danger my-3" value="Reset Password"/>
    </form>
    <p class="text-muted">Please contact us if you have any trouble resetting your password.</p>
{% endblock account_content %}
