<!doctype html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="{% static 'scripts/bootstrap.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
  <title>{% block title %}{% endblock title %}</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">EventMaster</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="#">Home</a>
        </div>
        {% if user is not None %}
          <div class="navbar-nav">
            <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
          </div>
        {% else %}
          <div class="navbar-nav">
            <a class="nav-link" href="{% url 'account_login' %}">Login</a>
          </div>
        {% endif %}
      </div>
    </div>
  </nav>

  <div class="container mt-4">
    {% block content %}{% endblock content %}
  </div>

</body>
</html>
