{% extends 'base.html' %}

{% block title %}
  {{ event.title }} Sign-up Confirmation
{% endblock title %}

{% block content %}
  <div class="container" style="max-width: 40rem">
    <div class="card mt-3">
      <div class="card-body">
        <h5 class="card-title">{{ event.title }}</h5>
        <p>You are about to sign up for {{ event.title }}.<br> This event will take
          place {{ event.start_time|date:"d-m-Y" }}.
        </p>
        <div class="row pt-3 text-center">
          <div class="col-12 col-md-6 mb-2">
            <a class="btn btn-success" style="width: 100%" href="#">
              {% if event.price %}
                Proceed to payment
              {% else %}
                Register for free
              {% endif %}
            </a>
          </div>
          <div class="col-12 col-md-6 mb-2">
            <a class="btn btn-secondary" style="width: 100%"
               href="{% url 'event:event_list' %}">
              Return
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
